#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 15px;
}

.card {
  width: 200px;
}

.card-body {
  height: 200px;
}

ul {
  display: flex;
  list-style-type: none;
}