#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 15px;
}

.card {
  width: 200px;
  background-color: darkgray;

}

.card-body {
  height: 200px;
}

ul {
  display: flex;
  list-style-type: none;
}

body {
  background-color: rgb(165, 163, 163);
  background-color: black;

  color: white;

}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}